In [1]:
import pandas as pd
import json
import re
import pickle

# 1. Column information

In [2]:
df = pd.read_csv("proj1_ex01.csv")

In [3]:
df.head()

,First column,two,three,SOME;NAME,five,What is this even?,seven,eight
0,0.348554,-0.14509562920877161,-0.012336991474672475,9,red,good,quarrelsome,2016-05-26 09:33:42
1,-1.493853,0.12436946488785079,1.4611100361038865,4,red,bad,doctor,2016-12-03 18:55:52
2,-0.325891,NaN,-0.42191202598625566,2,red,average,large,2016-05-15 11:49:26
3,-0.506596,0.3991147675939107,-0.26502607502330217,5,green,average,muddled,2015-01-30 22:33:29
4,NaN,-0.6913144223047157,-0.26502607502330217,2,blue,good,coordinated,2015-11-20 00:15:35

In [5]:
info = []
for col in df.columns:
    dict1 = {'name': None, 'missing': None, 'type': None}
    
    dict1['name'] = df[col].name
    dict1['missing'] = df[col].isnull().sum() / len(df[col])
    if df[col].dtypes == "float":
        dict1['type'] = 'float'
    elif df[col].dtypes == "int":
        dict1['type'] = 'int'
    else:
        dict1['type'] = 'other'
    info.append(dict1)
    
print(info)
with open('proj1_ex01_fields.json', 'w') as file:
    json.dump(info, file)

[{'name': 'First column', 'missing': 0.14285714285714285, 'type': 'float'}, {'name': 'two', 'missing': 0.14285714285714285, 'type': 'other'}, {'name': 'three', 'missing': 0.0, 'type': 'other'}, {'name': 'SOME;NAME', 'missing': 0.0, 'type': 'int'}, {'name': 'five', 'missing': 0.0, 'type': 'other'}, {'name': 'What is this even?', 'missing': 0.0, 'type': 'other'}, {'name': 'seven', 'missing': 0.0, 'type': 'other'}, {'name': 'eight', 'missing': 0.0, 'type': 'other'}]

# 2. Value statistics

In [6]:
dict2 = {}

for col in df.columns:
    dict_c = {}
    
    dict_c["count"] = float(df[col].count())
    if df[col].dtypes in ("int", "float"):
        dict_c['mean'] = float(df[col].mean())
        dict_c['std'] = float(df[col].std())
        dict_c['min'] = float(df[col].min())
        dict_c['25%'] = float(df[col].quantile(0.25))
        dict_c['50%'] = float(df[col].quantile(0.5))
        dict_c['75%'] = float(df[col].quantile(0.75))
        dict_c['max'] = float(df[col].max())
    else:
        dict_c['unique'] = float(df[col].nunique(dropna=True))
        freq = df[col].value_counts().max()
        # the_most_freq = df[col].value_counts().loc[lambda x: x==a].index
        # print(the_most_freq)
        # for x in the_most_freq:
        #     dict_c['top'].append(x)
        dict_c['top'] = df[col].value_counts().idxmax()
        dict_c['freq'] = float(freq)
    
    dict2[df[col].name] = dict_c
    print(dict_c)

with open('proj1_ex02_stats.json', 'w') as file:
    json.dump(dict2, file, indent=4)

{'count': 6.0, 'mean': -0.5009940002009552, 'std': 0.8839385203395562, 'min': -1.55529041326908, '25%': -1.247038692513933, '50%': -0.4162433767179556, '75%': 0.1799426841401469, 'max': 0.5271122588523375}
{'count': 6.0, 'unique': 6.0, 'top': '-0.14509562920877161', 'freq': 1.0}
{'count': 7.0, 'unique': 7.0, 'top': '-0.012336991474672475', 'freq': 1.0}
{'count': 7.0, 'mean': 4.142857142857143, 'std': 2.544836041121407, 'min': 2.0, '25%': 2.0, '50%': 4.0, '75%': 5.0, 'max': 9.0}
{'count': 7.0, 'unique': 3.0, 'top': 'red', 'freq': 3.0}
{'count': 7.0, 'unique': 3.0, 'top': 'good', 'freq': 3.0}
{'count': 7.0, 'unique': 7.0, 'top': 'quarrelsome', 'freq': 1.0}
{'count': 7.0, 'unique': 7.0, 'top': '2016-05-26 09:33:42', 'freq': 1.0}

# 3. Column names

In [7]:
for col in df.columns:
    print(df[col].name)
    x = re.sub('[^A-Za-z0â€“9_ ]', '', df[col].name).lower().replace(' ', '_')
    print(x)
    df.rename(columns = {df[col].name: x}, inplace=True)

df.to_csv('proj1_ex03_columns.csv', index=False)

First column
first_column
two
two
three
three
SOME;NAME
somename
five
five
What is this even?
what_is_this_even
seven
seven
eight
eight

# 4. Output formats

In [8]:
df.to_excel('proj1_ex04_excel.xlsx', engine='openpyxl', index=False)

In [9]:
df.to_json('proj1_ex04_json.json', orient='records', lines=False)

In [10]:
df.to_pickle('proj1_ex04_pickle.pkl')

# 5. Selecting rows and columns

In [11]:
with open('proj1_ex05.pkl', 'rb') as file:
    data = pickle.load(file)
    columns = data.iloc[:, [1, 2]]
    print(columns)
    rows = columns[columns.index.str.startswith('v')].fillna('')
    print(rows)
    rows.to_markdown('proj1_ex05_table.md')

                 description   age
v            Freedom fighter   NaN
evey           Revolutionary  16.0
finch       Police detective  40.0
creedy   Government official  49.0
gordon        Talk show host  38.0
valerie              Actress   NaN
delia     Medical researcher  50.0
             description age
v        Freedom fighter
valerie          Actress

# 6. Flattening data

In [13]:
with open('proj1_ex06.json', 'r') as file:
    json_data = json.load(file)
    normalized = pd.json_normalize(json_data)
    normalized.to_pickle('proj1_ex06_pickle.pkl')